/*********
GENERICS
*********/
:root {
    --color-text: aqua;
}

body {
    background-color: aqua;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 400px;
    margin: 100px auto;
}

.col-auto .card {
    background-color: coral;
    animation: scale 6s infinite linear;
}

.col-auto .card h1 {
    color: var(--color-text);
}

.counter-content .counter * {
    color: var(--color-text);
}

/**********
ANIMATION
**********/
@keyframes scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}